.map-section {
  margin-inline: 40px;
  margin-bottom: 60px;
}
#mapContainer {
  height: 400px;
  width: 100%;
  border: 1px solid #ccc;
  background: black;
  z-index: 3;
  margin-top: 20px;
}

.image-popup {
  max-width: 48px !important;
  max-height: 48px !important;
}
