/* component */
@import url('./components/card.css');
@import url('./components/grid.css');
@import url('./components/global.css');
@import url('./components/header-style.css');

/* auth */
@import url('./auth/form-login-register.css');

/* responsive */
@import url('./responsive/responsive.css');

/* component */
@import url('./components/add-story.css');
@import url('./components/home.css');
@import url('./components/map.css');

/* animation */
@import url('./animation/animation.css');
@import url('./animation/error.css');
@import url('./animation/loading.css');
@import url('./animation/showDetailCard.css');

.footer-content {
    /* border: 1px solid red; */
    margin-block: 1rem;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.logo-footer {
    width: 5rem;
}
.brand-name {
    display: flex;
    align-items: center;  
}
.brand-name span {
    font-size: 1.8rem;
}